* {
	transition: all 100ms;
}

html, body {
	height: 100%;
}

html {

}

body {
	display: table-cell;
	background-color: black;
}

.wrapper {

}

.inner {
	position: absolute;
}

#album {
	max-width:1540px; /* or whatever width you want. */
	/*background-color: white;*/

	margin-left: 240px;
	margin-top: 220px;
	width: 1540px;
	height: 614px;
}

#bookSlot svg {
	margin-left: 24px;
}

#albumFocus {

}

.album-focus-wrapper {

}
