html, body {
	height: 100%;
}

html {

}

body {
	overflow: hidden;
	display: table-cell;
	vertical-align: middle;
	background-color: black;
}

.inner {
	position: absolute;
}

#album {
	max-width:1540px; /* or whatever width you want. */
	/*background-color: white;*/

	margin-left: 240px;
	margin-top: 220px;
	width: 1540px;
	height: 614px;
}

#albumFocus {

}

.album-focus-wrapper {

}
