html, body {
	height: 100%;
}

html {

}

body {
	overflow: hidden;
	display: table-cell;
	vertical-align: middle;
	background-color: black;
}

.inner {
	position: absolute;
}

#album {
	width:1920px; /* or whatever width you want. */
	max-width:1920px; /* or whatever width you want. */
	/*background-color: white;*/
}

.album-focus-wrapper {

}
